.filters {
  display: flex;
  align-items: center;
  column-gap: 1.875rem;
  margin-bottom: 2.5rem;
}

.recipe_item {
  cursor: pointer;
  font-weight: 700;
  transition: 0.3s;
}

.recipe_item:hover {
  color: chocolate;
}

.work_container {
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
